<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ndky.paper.kpimgrapp.Mappers.AuthMapper">
    <resultMap id="authUser" type="ndky.paper.kpimgrapp.Models.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <!--使用ofType来指定连接的表中的个体类型，比如这里使用了set<Role>，所以ofType要写Role-->
        <collection property="roles" column="id" ofType="ndky.paper.kpimgrapp.Models.Role" select="selectRoleForUser"/>
    </resultMap>

    <select id="existsUser" resultType="Boolean">
        select (case when count(id) = 1 then true else false end) as result
        from authorization
        where username = #{username}
          and password = #{password}
    </select>

    <select id="selectUserByUserName" resultMap="authUser">
        select *
        from authorization
        where username = #{username}
    </select>

    <select id="selectRoleForUser" resultType="ndky.paper.kpimgrapp.Models.Role">
        select a.id id, b.name name
        from user_roles a,
             role b
        where a.role_id = b.id
          and a.authorization_id = #{id}
    </select>
</mapper>