<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ndky.paper.kpimgrapp.Mappers.AuthorizationMapper">
    <select id="queryRoles" resultType="Role">
        select c.*
        from authentication a,
        staff_info d,
        user_roles b,
        role c
        where a.id=b.authentication_id
        and b.role_id = c.id
        and d.id = a.staff_info_id
        <if test="authenticationId != null">
            and a.id = ${authenticationId}
        </if>
        <if test="username != null">
            and a.username = #{username}
        </if>
        <if test="staffInfoId != null">
            and d.id= #{staffInfoId}
        </if>
        <if test="expired == null or expired == false">
            and if(c.expiration is null, true, (c.expiration > NOW()))
        </if>
        ;
    </select>

    <select id="queryAllRoles" resultType="Role">
        select *
        from role
        where expiration is null
           or expiration > NOW();
    </select>

    <select id="queryPermissions" resultType="UserPermission">
        select
        a.id as authentication_id,
        a.username,
        c.id as role_id,
        c.name as role_name,
        f.id as operation_id,
        f.name as operation_name,
        e.id as object_id,
        e.table_name,
        e.column_name
        from authentication a,
        user_roles b,
        role c,
        role_scope d,
        dict_operation_object e,
        dict_operation f
        where a.id = b.authentication_id
        and b.role_id = c.id
        and c.id = d.role_id
        and d.object_id = e.id
        and d.operation_id = f.id
        <if test="userPermissionRequest.authenticationId != null">
            and a.id = ${userPermissionRequest.authenticationId}
        </if>
        <if test="userPermissionRequest.username != null">
            and a.username = #{userPermissionRequest.username}
        </if>
        <if test="userPermissionRequest.roleId != null">
            and c.id = ${userPermissionRequest.roleId}
        </if>
        <if test="userPermissionRequest.roleName != null">
            and c.name = #{userPermissionRequest.roleName}
        </if>
        <if test="userPermissionRequest.operationId != null">
            and f.id = ${userPermissionRequest.operationId}
        </if>
        <if test="userPermissionRequest.operationName != null">
            and f.name = #{userPermissionRequest.operationName}
        </if>
        <if test="userPermissionRequest.tableName != null">
            and e.table_name = #{userPermissionRequest.tableName}
        </if>
        <if test="expired == null or expired == false">
            and if(c.expiration is null, true, (c.expiration > NOW()))
        </if>
        ;
    </select>

    <select id="userExistsRole" resultType="Boolean">
        select if(count(a.id) > 0, true, false)
        from authentication a, user_roles b, role c
        where a.id = b.authentication_id
        and b.role_id = c.id
        and if(c.expiration is null, true, (c.expiration > NOW()))
        <if test="authenticationId != null">
            and a.id = ${authenticationId}
        </if>
        <if test="username != null">
            and a.username = #{username}
        </if>
        <if test="roleId != null">
            and c.id = ${roleId}
        </if>
        <if test="roleName != null">
            and c.name = #{roleName}
        </if>
        ;
    </select>

    <select id="userExistsPermission" resultType="Boolean">
        select if(count(a.id) > 0, true, false)
        from authentication a,
        user_roles b,
        role c,
        role_scope d,
        dict_operation_object e,
        dict_operation f
        where a.id = b.authentication_id
        and b.role_id = c.id
        and c.id = d.role_id
        and d.object_id = e.id
        and d.operation_id = f.id
        and if(c.expiration is null, true, (c.expiration > NOW()))
        <if test="authenticationId != null">
            and a.id = ${authenticationId}
        </if>
        <if test="username != null">
            and a.username = #{username}
        </if>
        <if test="roleId != null">
            and c.id = ${roleId}
        </if>
        <if test="roleName != null">
            and c.name = #{roleName}
        </if>
        <if test="operationId != null">
            and f.id = ${operationId}
        </if>
        <if test="operationName != null">
            and f.name = #{operationName}
        </if>
        <if test="objectId != null">
            and d.object_id = ${objectId}
        </if>
        <if test="tableName != null">
            and e.table_name = #{tableName}
        </if>
        <if test="columnName != null">
            and e.column_name = #{column_name}
        </if>
        ;
    </select>

    <select id="queryTableFields" resultType="String">
        select column_name
        from dict_operation_object
        where table_name = #{tableName} and column_name != '*'
        <foreach item="field" collection="fieldsIgnore">
            and column_name != #{field}
        </foreach>
        ;
    </select>

    <select id="getAuthenticationIdByStaffInfoId" resultType="Long">
        select id
        from authentication
        where staff_info_id = ${staffInfoId};
    </select>

    <select id="getStaffInfoIdByAuthentication" resultType="Long">
        select staff_info_id
        from authentication
        <where>
            <if test="authenticationId != null">
                id = ${authenticationId}
            </if>
            <if test="username != null">
                username = #{username}
            </if>
        </where>
        ;
    </select>
</mapper>