<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ndky.paper.kpimgrapp.Mappers.AuthenticationMapper">
    <select id="existsUser" resultType="Boolean">
        select (if(count(id) = 1, true, false)) as result
        from authentication
        where username = #{username};
    </select>

    <resultMap id="authUser" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="realName" column="realName"/>
        <!--使用ofType来指定连接的表中的个体类型，比如这里使用了set<Role>，所以ofType要写Role-->
        <collection property="roles" column="id" ofType="Role" select="selectRoleForUser"/>
    </resultMap>

    <select id="selectRoleForUser" resultType="Role">
        select b.*
        from user_roles a,
             role b
        where a.role_id = b.id
          and a.authentication_id = #{id};
    </select>

    <select id="selectUserByUserName" resultMap="authUser">
        select a.*, b.name realName
        from authentication a,
             staff_info b
        where a.staff_info_id = b.id
          and username = #{username};
    </select>
</mapper>