<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ndky.paper.kpimgrapp.Mappers.SelfMapper">
    <select id="getAvatarFileName" resultType="String">
        select a.avatar
        from authentication a, staff_info b where a.staff_info_id = b.id and b.disabled = '0'
        <if test="authenticationId != null">
            and a.id = ${authenticationId}
        </if>
        <if test="username != null">
            and a.username = #{username}
        </if>
        limit 1;
    </select>

    <update id="updateAvatarFileName">
        update authentication set avatar = #{newFileName}
        <where>
            <if test="authenticationId != null">
                id = ${authenticationId}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
        </where>
        ;
    </update>

    <select id="getInfo" resultType="StaffInfo">
        select a.*
        from staff_info a,
        authentication b
        where a.id = b.staff_info_id and a.disabled = '0'
        <if test="authenticationId != null">
            and b.id = ${authenticationId}
        </if>
        <if test="username != null">
            and b.username = #{username}
        </if>
        limit 1
        ;
    </select>

    <update id="updateInfo">
        update staff_info
        set ${dueUpdateKey} = #{dueUpdateValue}
        where id = ${staffInfoId};
    </update>

    <update id="updatePassword">
        update authentication
        set password=#{newPassword}
        <where>
            <if test="authenticationId != null">
                and id = ${authenticationId}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
        </where>
        ;
    </update>
</mapper>