<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ndky.paper.kpimgrapp.Mappers.StaffInfoMapper">
    <select id="selectStaffInfoList" resultType="StaffInfo">
        select
        <foreach collection="selectFieldsNames" item="field" separator=",">
            ${field}
        </foreach>
        from staff_info
        <where>
            <if test="query != null">
                no like '%' #{query} '%'
                or name like '%' #{query} '%'
                or gender = #{query}
                or nation like '%' #{query} '%'
            </if>
        </where>
        limit ${from}, ${length};
    </select>

    <select id="selectStaffInfoTotal" resultType="Long">
        select count(id)
        from staff_info
        <where>
            <if test="query != null">
                no like '%' #{query} '%'
                or name like '%' #{query} '%'
                or gender = #{query}
                or nation like '%' #{query} '%'
            </if>
        </where>
        ;
    </select>
</mapper>