<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ndky.paper.kpimgrapp.Mappers.StaffInfoMapper">
    <select id="selectStaffInfo" resultType="StaffInfo">
        select
        <foreach collection="selectFieldsNames" item="field" separator=",">
            ${field}
        </foreach>
        from staff_info
        limit ${from},${length};
    </select>

    <select id="selectStaffInfoTotal" resultType="Integer">
        select count(id)
        from staff_info;
    </select>
</mapper>