<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="ndky.paper.kpimgrapp.Models.User" alias="User"></typeAlias>
        <typeAlias type="ndky.paper.kpimgrapp.Models.Role" alias="Role"></typeAlias>
        <typeAlias type="ndky.paper.kpimgrapp.Models.RoleScope" alias="RoleScope"></typeAlias>
    </typeAliases>
</configuration>