body {
    &.login {
        background: url(./assets/images/login-bg.jpg);
        backdrop-filter: blur(12px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    &.side-menu {
        padding-left: 290px;
        transition: padding-left 0.3s ease;

        &.collapsed {
            padding-left: 65px;
        }
    }

    &.err {
        overflow: hidden;
        min-height: 100vh;
    }
}